<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <form id="formCadastro" action = "http://localhost/witor/persistencia/projeto.php" method ="post">

            <h3>Cadastrar novo Cliente:</h3>
           
            Inserir ID:<br><input type ="text" name = "idCliente" /> <br/>
            Inserir Nome:<br><input type ="text" name = "nomeCliente" /><br/>
            Inserir Rua:<br><input type ="text" name = "ruaCliente" /><br/>
            Inserir Cidade:<br><input type ="text" name = "cidadeCliente" />
            <input type ="radio" name ="operador" value ="cadastro"/> Confirmar cadastro<br/>   
          
            <br><input type ="submit" value = "Cadastrar"/> <input type="reset" value = "resetar"/><br/>
            
        </form>
    </body>
</html>
