<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form id="formExcluir" action = "http://localhost/witor/persistencia/projeto.php" method ="post">
            <h3>Excluir Cliente:</h3>
            
            <br>Excluir Cliente: Para excluir inserir o id.</br>
            <br><input type ="text" name="idCliente"/> 
            <input type ="radio" name ="operador" value ="excluir"/> Confirmar exclusão </br>
            <input type ="submit" value ="Excluir"/>
            <br></br>
               
        
            <br>
        </form>
    </body>
</html>
