<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <style>
            #divCenter {
                text-align: center;
            }
        </style>
    </head>
    <body bgcolor="#E6E6FA">
        <form action = "http://localhost/witor/persistencia/projeto.php" method ="post">
             <div id="divCenter">
            Inserir ID:<br><input type ="text" name = "idCliente" /> <br/>
            Inserir Nome:<br><input type ="text" name = "nomeCliente" /><br/>
            Inserir Rua:<br><input type ="text" name = "ruaCliente" /><br/>
            Inserir Cidade:<br><input type ="text" name = "cidadeCliente" /><br/>
            <input type ="radio" name ="operador" value ="cadastro"/> <br></br> 
            <br><input type ="submit" value = "Cadastrar"/><br/> <br></br> 
            <a href="../view/menu.html">Pular cadastro</a>
            </div>                   
        </form>
        
    </body>
</html>
