<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Crud do Cliente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            #divCenter {
                text-align: center;
            }
        </style>
    </head>
    <body bgcolor="#E6E6FA">
      
        
    <center><a href="cadastrarCliente.html" target="_blank">Cadastrar novo cliente</a></center>
    <center><a href="buscarCliente.html" target="_blank">Buscar cliente</a></center>
    <center><a href="atualizarClienteId.html" target="_blank">Atualizar cliente por ID</a></center>
    <center><a href="atualizarClienteNome.html" target="_blank">Atualizar Cliente por Nome</a></center>
    <center><a href="deletarCliente.html" target="_blank">Deletar Cliente</a></center>
    <center><a href="cadastrarConta.php" target="_blank">Cadastrar Conta</a></center>
    <center><a href="buscarConta.html" target="_blank">Buscar Conta</a></center>
    <center><a href="buscarAllContas.html" target="_blank">Buscar todas as contas</a></center>
    <center><a href="associarCliente.php" target="_blank">Assosciar cliente a conta</a></center>

     
        
     
    </body>
</html>
